<div class="content" style="margin-left: unset;">
  <div class="px-4 px-lg-6 border-x border-300" style="padding-top: 2.2rem">
    <div>
      <div class="d-flex" style="align-items: center; justify-content: center;">
      </div>
      <div class="row g-3 justify-content-between align-items-end mb-4">
        <div class="col-12 col-md-auto">
          <div class="row g-2 gy-3">
            <div class="col-auto flex-1 search-box">

            </div>
          </div>
        </div>
      </div>
      <div style="max-height: calc(100vh - 14.2rem); overflow: scroll ">
        <h3 class="main-title" style="margin-bottom: 1rem !important">Check out</h3>
        <div>

          <div class="row justify-content-between" style="width: 95%;"> 
            <div class="col-lg-7 col-xl-7">
              <form>
                <h3 class="mb-0 me-3 fs-3 fw-bold">Billing Details</h3>
                <table class="table table-borderless mt-4">
                  <tbody>
                    <tr>
                      <td class="py-2 ps-0" style="background: transparent">
                        <div class="d-flex  ">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user fs-3 me-2" style="height:20px; width:18px;"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                          <div style="display: flex; align-items: flex-end">
                            <h5 class="lh-sm me-4  fs-5 fw-bold">Name :</h5>
                            <h5 class="text-body-secondary fs-5">{{currentUser.fullName}}</h5>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="py-2 ps-0" style="background: transparent">
                        <div class="d-flex  ">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone fs-3 me-2" style="height:20px; width:18px;"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                          <div style="display: flex; align-items: flex-end">
                            <h5 class="lh-sm me-4  fs-5 fw-bold">Phone :</h5>
                            <h5 class="text-body-secondary fs-5">{{currentUser.customer_phone}}</h5>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr class="mb-6 mt-6">
                <div class="d-flex align-items-end">
                  <h3 class="mb-0 me-3 fs-3 fw-bold mt-4">Shipping Details</h3>
                </div>
                <table class="table table-borderless mt-4">
                  <tbody>
                    <tr>
                      <td class="py-2 ps-0" style="background: transparent">
                        <div class="d-flex  ">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home fs-3 me-2" style="height:20px; width:18px;"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                          <div style="display: flex; align-items: flex-end">
                            <h5 class="lh-sm me-4  fs-5 fw-bold">Address :</h5>
                            <h5 class="text-body-secondary fs-5">{{currentUser.customer_address}}</h5>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- ng if meal -->
                <!--<hr class="my-6">


                <h3 class="mb-5">Delivery Type</h3>
  <div class="row gy-6">
    <div class="col-12 col-md-6">
      <div class="d-flex flex-wrap align-items-center mb-3">
        <div class="form-check mb-0"><input class="form-check-input" type="radio" name="shippingRadio" id="free_shipping"><label class="form-check-label fs-8 text-body" for="free_shipping">Free Shipping</label></div><span class="d-inline-block text-body-emphasis fw-bold ms-2">$0.00</span>
      </div>
      <div class="ps-4">
        <h6 class="text-body-tertiary mb-2">Est. delivery: Jun 21 – Jul 20</h6>
        <h6 class="text-info lh-base mb-0">Get Free Shipped products in Time!</h6>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="d-flex flex-wrap align-items-center mb-3">
        <div class="form-check mb-0"><input class="form-check-input" type="radio" name="shippingRadio" id="two_days_shipping"><label class="form-check-label fs-8 text-body" for="two_days_shipping">Two days Shipping</label></div><span class="d-inline-block text-body-emphasis fw-bold ms-2">$20.00</span>
      </div>
      <div class="ps-4">
        <h6 class="text-body-tertiary mb-2">Est. delivery: Jun 21 – Jul 20</h6>
        <h6 class="text-info lh-base mb-0">Everything faster with minimum shipping fee.</h6>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="d-flex flex-wrap align-items-center mb-3">
        <div class="form-check mb-0"><input class="form-check-input" type="radio" name="shippingRadio" id="standard_shipping"><label class="form-check-label fs-8 text-body" for="standard_shipping">Standard Shipping</label></div><span class="d-inline-block text-body-emphasis fw-bold ms-2">$10.00</span>
      </div>
      <div class="ps-4">
        <h6 class="text-body-tertiary mb-2">Est. delivery: Jun 21 – Jul 20</h6>
        <h6 class="text-info lh-base mb-0">Get timely delivery with economy shipping.</h6>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="d-flex flex-wrap align-items-center mb-3">
        <div class="form-check mb-0"><input class="form-check-input" type="radio" name="shippingRadio" checked="checked" id="one_day_shipping"><label class="form-check-label fs-8 text-body" for="one_day_shipping">One day Shipping</label></div><span class="d-inline-block text-body-emphasis fw-bold ms-2">$30.00</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 ms-lg-4 ms-xl-2">Popular</span>
      </div>
      <div class="ps-4">
        <h6 class="text-body-tertiary mb-2">Est. delivery: Jun 21 – Jul 20</h6>
        <h6 class="text-info lh-base mb-0">Highest priority shipping at the lowest cost.</h6>
      </div>
    </div>
  </div>
  <hr class="my-6">-->

              </form>
            </div>
            <div class="col-12 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-between-center mb-3">
                    <h3 class="card-title mb-0">Summary</h3>
                  </div><select class="form-select mb-3" aria-label="delivery type" disabled>
                    <option value="cod">Cash on Delivery</option>
                  </select>
                  <div>
                    <div class="container mt-4">
                      <h2>Cart Summary</h2>
                      <div class="d-flex justify-content-between">
                        <p class="text-body fw-semibold">Items subtotal :</p>
                        <p class="text-body-emphasis fw-semibold">{{ itemsSubtotal | currency }}</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="text-body fw-semibold">Discount :</p>
                        <p class="text-danger fw-semibold">-{{ discount | currency }}</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="text-body fw-semibold">Tax :</p>
                        <p class="text-body-emphasis fw-semibold">{{ tax | currency }}</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="text-body fw-semibold">Subtotal :</p>
                        <p class="text-body-emphasis fw-semibold">{{ subtotal | currency }}</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="text-body fw-semibold">Shipping Cost :</p>
                        <p class="text-body-emphasis fw-semibold">{{ shippingCost | currency }}</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="text-body fw-semibold">Total :</p>
                        <p class="text-body-emphasis fw-semibold">{{ total | currency }}</p>
                      </div>
                      <div class="input-group mb-3"><input class="form-control" type="text" placeholder="Voucher" disabled></div>
                      <div class="d-flex justify-content-between border-y border-dashed pt-3 mb-4">
                        <h4 class="mb-0">Total :</h4>
                        <h4 class="">{{ total | currency }}</h4>
                      </div>
                      <div class="d-flex justify-content-between">
                        <p class="text-body fw-semibold">Expected Delivery Date:</p>
                        <p class="text-body-emphasis fw-semibold">{{expectedDeliveryDate}}</p>
                      </div>
                      <button class="btn btn-primary-mod w-100" *ngIf="currentUser.role" (click)="checkOut()">Confirm Order</button>
                      <a class="btn btn-primary-mod w-100" *ngIf="!currentUser.role" [routerLink]="['/login']">Please sign in before Checking out</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

