
<div class="content navbarExpanded" style="overflow: hidden;">
  <div class="pt-4 border-x border-300">

    <div style="padding-left: 3rem; padding-right: 3rem;">
      <div style="display: flex; align-items: flex-end; justify-content: space-between;">
        <h3 class="main-title">Users Management</h3>
        <div>
          <button style="display: flex; margin: 4px; align-items: center; justify-content: space-between;" class="modal-secondary-btn " (click)="AddUser()">
            <svg style="margin-right: 5px; margin-top: -2px; width: 15px;" width=" 20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle text-900 fs-3"> <circle cx="12" cy="12" r="10"></circle> <line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line> </svg>
            Add New User
          </button>
        </div>
      </div>
    </div>
    <div style="height: fit-content">
      <div class="content" style="margin-left: unset;">
        <div class="px-4  border-x border-300">
          <div>
            <div style="max-height: calc(100vh - 14.2rem); overflow: scroll ">
              <div>
                <div>
                  <ng-container *ngFor="let user of users | filterPipe : filter; let last = last">
                    <ng-container>
                      <div class="step-container" [ngClass]="{'last-child': last}" (click)="AddUser(user)">
                        <span style="font-size: medium; font-weight: bolder; margin-left: 0.3rem;">{{user.fullName}}</span>
                        <div>
                          <span class="badge badge-phoenix badge-phoenix-success ms-2" style="margin-right: 0.2rem;">{{user.role}}</span>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
